<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config[
  <!ENTITY iuconfig SYSTEM "org/cocolab/inpro/apps/iu-config.xml">
  <!ENTITY sphinx SYSTEM "org/cocolab/inpro/apps/sphinx.xml">
  <!ENTITY frontend SYSTEM "org/cocolab/inpro/apps/frontend.xml">
]>
<!--
   Sphinx-4 Configuration file
-->


<!-- ******************************************************** -->
<!--  incremental configuration file                          -->
<!-- ******************************************************** -->
<config>

	&sphinx;
	&frontend;
    &iuconfig;


</config>
