<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Inpro/src/inpro/apps/SimpleReco.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/CDC-1.0%Foundation-1.0"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inpro.apps.SimpleReco"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-F file:../res/once16.wav -O -C -L -G AIzaSyCXHs3mzb1IyfGx2tYxDC1ClgYUv0x8Kw8 -Gout /tmp/Googledump.json"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Inpro"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Inpro/bin}"/>
</launchConfiguration>
